:root{
    --red-primary: #ff0000;
    --red-secundary: #FFE2E5;
    --light: #F9F9F9;
    --grey: #F3F3F3;
    --green: #bfffd5;

}

body{
    background-color: var(--grey);
    font-family: "Poppins", sans-serif;
}
.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: #696969;
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    background-color: #ea1d2b3b;
    color: #696969;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(0,0,0,.5)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav i{
    color: #868686;
}


.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #ea1d2b15;
}

.sidebar {
    width: 200px;
    height: 100vh;
    transition: width 0.3s ease;
    background-color: var(--light);
}

.sidebar.hidden {
    width: 80px;
    
}

.sidebar.hidden .btn-toggle span{
    display: none;
}
.sidebar.hidden .collapse span{
    display: none;
}

#btn-menu {
    cursor: pointer;
}

main {
    width: 100%;
}
.user a{
    text-decoration: none;
    color: #696969;
}
.user img{
    width: 40px;
    border-radius: 20px;
}
.btn-group {
    background-color: #ea1d2b21;
}



.box-info{
  width: 93%;
}

.box{
    border-radius: 10px;
    border: 4px solid var(--grey);
    color: rgb(80, 80, 80);;
}

.balance{
    background: var(--light);
}
.revenue{
    background-color: var(--green);
}
.expense{
    background-color: var(--red-secundary);
}

